@model IEnumerable<CaelumWeb.Models.Aluno>
<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Cpf</th>
                <th>Endereco</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var aluno in Model)
            {
                <tr>
                    <td>@aluno.Nome</td>
                    <td>@aluno.Cpf</td>
                    <td>@aluno.Endereco</td>
                </tr>
            }
        </tbody>
    </table>
    <a href="/Aluno/Aluno/Inserir" class="btn btn-primary"> Inserir</a>
</div>

